<!-- <div class="rtl-layout" (click)="addToggleClass()"><a href="javascript:void(0);">RTL</a></div> -->
<div #scrollContainer class="over-scroll" (scroll)="onScroll($event)" [ngClass]="{'fixed-header' : fixedHeaderClass}">
<header angly-header></header>

<!-- If home page so show this content -->
<div *ngIf="router?.url == '/home'" class="site-banner">
    <div class="banner-wrapper primary-layer">
        <div class="banner-inner">
            <div class="banner-content container text-center container-full-width">
                <h2 class="display-3 fw-200 mb-4 text-white text-capitalize">
                    <div class="d-title">
                        Discuss Better.
                        <span>Faster.</span>
                        <span>Together.</span>
                    </div>
                </h2>
                <p class="lead p-graph">A wonderful serenity has taken possession of my entire soul, like this sweet morning of springs which was created for the bliss of souls like mine, i am so excited dear friend, so absorbed in the exquisite sense of existence</p>
                <a routerLink="/login" class="btn btn-lg btn-outline-light mr-3 mb-3 px-4 py-2 btn-chk inverse">
                     Get started
            </a>
            </div>
        </div>
    </div>
</div>
<div class="angly-base-container">
  <div class="inner-container">
		<router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
  </div>
</div>
<!-- <footer angly-footer></footer> -->
<footer angly-footer2></footer>
</div>