<nav class="panel-menu" id="mobile-menu">
    <ul>

    </ul>
    <div class="mm-navbtn-names">
        <div class="mm-closebtn">
            Close
            <div class="tt-icon">
                <svg>
                  <use xlink:href="#icon-cancel"></use>
                </svg>
            </div>
        </div>
        <div class="mm-backbtn">Back</div>
    </div>
</nav>
<header id="tt-header">
    <div class="container">
        <div class="row tt-row no-gutters">
            <div class="col-auto">
                <!-- toggle mobile menu -->
                <a class="toggle-mobile-menu" href="#">
                    <svg class="tt-icon">
                      <use xlink:href="#icon-menu_icon"></use>
                    </svg>
                </a>
                <!-- /toggle mobile menu -->
                <!-- logo -->
                <div class="tt-logo">
                    <a href="index.html"><img src="images\logo.png" alt=""></a>
                </div>
                <!-- /logo -->
                <!-- desctop menu -->
                 <div class="tt-desktop-menu">
                    <nav>
                        <ul>
                            <li><a href=""><span>Categories</span></a></li>
                            <li><a href=""><span>Trending</span></a></li>
                            <li><a href=""><span>New</span></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /desctop menu -->
                <!-- tt-search -->
                <div class="tt-search">
                    <!-- toggle -->
                    <button class="tt-search-toggle" data-toggle="modal" data-target="#modalAdvancedSearch">
                       <svg class="tt-icon">
                          <use xlink:href="#icon-search"></use>
                        </svg>
                    </button>
                    <!-- /toggle -->
                    <form class="search-wrapper">
                        <div class="search-form">
                            <input type="text" class="tt-search__input" placeholder="Search">
                            <button class="tt-search__btn" type="submit">
                               <svg class="tt-icon">
                                  <use xlink:href="#icon-search"></use>
                                </svg>
                            </button>
                             <button class="tt-search__close">
                               <svg class="tt-icon">
                                  <use xlink:href="#cancel"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="search-results">
                            <div class="tt-search-scroll">
                                <ul>
                                    <li>
                                        <a href="page-single-topic.html">
                                            <h6 class="tt-title">Rdr2 secret easter eggs</h6>
                                            <div class="tt-description">
                                               Here’s what I’ve found in Red Dead Redem..
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                       <a href="page-single-topic.html">
                                            <h6 class="tt-title">Top 10 easter eggs in Red Dead Rede..</h6>
                                            <div class="tt-description">
                                                You can find these easter eggs in Red Dea..
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                       <a href="page-single-topic.html">
                                            <h6 class="tt-title">Red Dead Redemtion: Arthur Morgan..</h6>
                                            <div class="tt-description">
                                                Here’s what I’ve found in Red Dead Redem..
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page-single-topic.html">
                                            <h6 class="tt-title">Rdr2 secret easter eggs</h6>
                                            <div class="tt-description">
                                               Here’s what I’ve found in Red Dead Redem..
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                       <a href="page-single-topic.html">
                                            <h6 class="tt-title">Top 10 easter eggs in Red Dead Rede..</h6>
                                            <div class="tt-description">
                                                You can find these easter eggs in Red Dea..
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                       <a href="page-single-topic.html">
                                            <h6 class="tt-title">Red Dead Redemtion: Arthur Morgan..</h6>
                                            <div class="tt-description">
                                                Here’s what I’ve found in Red Dead Redem..
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="tt-view-all" data-toggle="modal" data-target="#modalAdvancedSearch">Advanced Search</button>
                        </div>
                    </form>
                </div>
                <!-- /tt-search -->
            </div>
            <div class="col-auto ml-auto">
                <div class="tt-account-btn">
                    <a routerLink="/login" class="btn btn-primary">Log in</a>
                    <a routerLink="/signup" class="btn btn-secondary">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</header>
<main id="tt-pageContent" class="tt-offset-small">
      <div class="container">
          <div class="tt-topic-list">
              <div class="tt-list-header">
                  <div class="tt-col-topic">Topic</div>
                  <div class="tt-col-category">Category</div>
                  <div class="tt-col-value hide-mobile">Likes</div>
                  <div class="tt-col-value hide-mobile">Comments</div>
                  <div class="tt-col-value hide-mobile">Views</div>
                  <div class="tt-col-value">Activity</div>
              </div>
              <div class="tt-topic-alert tt-alert-default" role="alert">
                <a href="#" target="_blank">4 new posts</a> are added recently, click here to load them.
              </div>
              <div class="tt-item">
                  <div class="tt-col-avatar">
                     <svg class="tt-icon">
                        <use xlink:href="#icon-ava-t"></use>
                      </svg>
                  </div>
                  <div class="tt-col-description">
                      <h6 class="tt-title"><a href="page-single-topic.html">
                          A wonderful serenity has taken possession of my ...
                      </a></h6>
                      <!-- -->
                  </div>
                  <div class="tt-col-category"><span class="tt-color07 tt-badge">Health</span></div>
                  <div class="tt-col-value hide-mobile">364</div>
                  <div class="tt-col-value tt-color-select  hide-mobile">36</div>
                  <div class="tt-col-value  hide-mobile">982</div>
                  <div class="tt-col-value hide-mobile">2d</div>
              </div>

              <div class="tt-item">
                  <div class="tt-col-avatar">
                     <svg class="tt-icon">
                        <use xlink:href="#icon-ava-t"></use>
                      </svg>
                  </div>
                  <div class="tt-col-description">
                      <h6 class="tt-title"><a href="page-single-topic.html">
                          A wonderful serenity has taken possession of my ...
                      </a></h6>
                      <!-- -->
                  </div>
                  <div class="tt-col-category"><span class="tt-color07 tt-badge">Health</span></div>
                  <div class="tt-col-value hide-mobile">364</div>
                  <div class="tt-col-value tt-color-select  hide-mobile">36</div>
                  <div class="tt-col-value  hide-mobile">982</div>
                  <div class="tt-col-value hide-mobile">2d</div>
              </div>

              <div class="tt-item">
                  <div class="tt-col-avatar">
                     <svg class="tt-icon">
                        <use xlink:href="#icon-ava-t"></use>
                      </svg>
                  </div>
                  <div class="tt-col-description">
                      <h6 class="tt-title"><a href="page-single-topic.html">
                          A wonderful serenity has taken possession of my ...
                      </a></h6>
                      <!-- -->
                  </div>
                  <div class="tt-col-category"><span class="tt-color07 tt-badge">Health</span></div>
                  <div class="tt-col-value hide-mobile">364</div>
                  <div class="tt-col-value tt-color-select  hide-mobile">36</div>
                  <div class="tt-col-value  hide-mobile">982</div>
                  <div class="tt-col-value hide-mobile">2d</div>
              </div>

              <div class="tt-item">
                  <div class="tt-col-avatar">
                     <svg class="tt-icon">
                        <use xlink:href="#icon-ava-t"></use>
                      </svg>
                  </div>
                  <div class="tt-col-description">
                      <h6 class="tt-title"><a href="page-single-topic.html">
                          A wonderful serenity has taken possession of my ...
                      </a></h6>
                      <!-- -->
                  </div>
                  <div class="tt-col-category"><span class="tt-color07 tt-badge">Health</span></div>
                  <div class="tt-col-value hide-mobile">364</div>
                  <div class="tt-col-value tt-color-select  hide-mobile">36</div>
                  <div class="tt-col-value  hide-mobile">982</div>
                  <div class="tt-col-value hide-mobile">2d</div>
              </div>

              <div class="tt-item">
                  <div class="tt-col-avatar">
                     <svg class="tt-icon">
                        <use xlink:href="#icon-ava-t"></use>
                      </svg>
                  </div>
                  <div class="tt-col-description">
                      <h6 class="tt-title"><a href="page-single-topic.html">
                          A wonderful serenity has taken possession of my ...
                      </a></h6>
                      <!-- -->
                  </div>
                  <div class="tt-col-category"><span class="tt-color07 tt-badge">Health</span></div>
                  <div class="tt-col-value hide-mobile">364</div>
                  <div class="tt-col-value tt-color-select  hide-mobile">36</div>
                  <div class="tt-col-value  hide-mobile">982</div>
                  <div class="tt-col-value hide-mobile">2d</div>
              </div>

              <div class="tt-item">
                  <div class="tt-col-avatar">
                     <svg class="tt-icon">
                        <use xlink:href="#icon-ava-t"></use>
                      </svg>
                  </div>
                  <div class="tt-col-description">
                      <h6 class="tt-title"><a href="page-single-topic.html">
                          A wonderful serenity has taken possession of my ...
                      </a></h6>
                      <!-- -->
                  </div>
                  <div class="tt-col-category"><span class="tt-color07 tt-badge">Health</span></div>
                  <div class="tt-col-value hide-mobile">364</div>
                  <div class="tt-col-value tt-color-select  hide-mobile">36</div>
                  <div class="tt-col-value  hide-mobile">982</div>
                  <div class="tt-col-value hide-mobile">2d</div>
              </div>
              
              <div class="tt-row-btn">
                  <button type="button" class="btn-icon js-topiclist-showmore">
                      <svg class="tt-icon">
                        <use xlink:href="#icon-load_lore_icon"></use>
                      </svg>
                  </button>
              </div>
          </div>
      </div>
  </main>