<app-forum-header></app-forum-header>
<div class="text-center" *ngIf="!(forums)">
    <ngb-progressbar type="info" [value]="fetchForumProgress" [striped]="true" [animated]="true">
        loading {{fetchForumProgress}}%
    </ngb-progressbar>
</div>
<div class="text-center" *ngIf="forums && (forums.length === 0)">
    <div class="loading-tab">
        <i class="fa fa-frown-o fa-2x text-secondary"></i><br />
        <h5 id="no-inflow-cat">No forums Yet</h5>
    </div>
</div>

  <main id="tt-pageContent" class="tt-offset-small margin__top">
        <div class="container">
            <div class="main__section">
                <div class="row background">
                    <div class="col-md-6">
                        <img src="assets/asset/baby2.jpg" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda possimus doloremque, iste soluta quibusdam, illum quo accusamus dolorem reiciendis delectus rem ipsum commodi, iure aut. Nesciunt fuga molestias magnam repudiandae?</p>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                            <img src="assets/asset/home-banner.jpg" alt="">
                                <p>Lorem ipsum dolor sit amet consectetur ad</p>
                            </div>
                            <div class="col-md-6">
                            <img src="assets/asset/home-banner.jpg" alt="">
                                <p>Lorem, ipsum dolor sit amet consectetur adip</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="mt__margin__top"></div>
        
            <div class="container__wrapper__left">
                <div class="row margin__bottom">
                    <div class="col-md-8">
                        <div class="row bottom__color">
                            <div class="col-md-4">
                                <img src="assets/asset/home-banner.jpg" alt="forum image" class="fr-img-responsive">
                            </div>
                            <div class="col-md-8">
                                <h5 class="heading__section">We Ain’t Got No Podcast — Episode 14: Should Chelsea buy in January?</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quos placeat iusto, saepe sunt maxime pariatur voluptates mollitia... <br /> 
                                  <span class="created__by">By &mdash; Bluebird2000 | November 4 | 10  comments </span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="row margin__bottom">
                      <div class="col-md-8">
                          <div class="row bottom__color">
                              <div class="col-md-4">
                                  <img src="assets/img/feature-mockup.png" alt="forum image" class="fr-img-responsive">
                              </div>
                              <div class="col-md-8">
                                  <h5 class="heading__section">We Ain’t Got No Podcast — Episode 14: Should Chelsea buy in January?</h5>
                                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quos placeat iusto, saepe sunt maxime pariatur voluptates mollitia... <br /> 
                                    <span class="created__by">By &mdash; Bluebird2000 | November 4 | 10  comments </span></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--  -->
                <div class="row margin__bottom">
                    <div class="col-md-8">
                        <div class="row bottom__color">
                            <div class="col-md-4">
                                <img src="assets/asset/home-banner.jpg" alt="forum image" class="fr-img-responsive">
                            </div>
                            <div class="col-md-8">
                                <h5 class="heading__section">We Ain’t Got No Podcast — Episode 14: Should Chelsea buy in January?</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quos placeat iusto, saepe sunt maxime pariatur voluptates mollitia... <br /> 
                                    <span class="created__by">By &mdash; Bluebird2000 | November 4 | 10  comments </span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin__bottom">
                    <div class="col-md-8">
                        <div class="row bottom__color">
                            <div class="col-md-4">
                                <img src="assets/img/feature-mockup.png" alt="forum image" class="fr-img-responsive">
                            </div>
                            <div class="col-md-8">
                                <h5 class="heading__section">We Ain’t Got No Podcast — Episode 14: Should Chelsea buy in January?</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quos placeat iusto, saepe sunt maxime pariatur voluptates mollitia... <br /> 
                                    <span class="created__by">By &mdash; Bluebird2000 | November 4 | 10  comments </span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>