<div class="forum__header__main">
   <div class="header__padding">
      <div class="search__keyword">
         <input type="text" placeholder="Search...">
      </div>
      <div class="action__button">
         <ul>
            <a routerLink="/login" class="btn btn-lg btn-outline-light mr-3 mb-3 px-4 py-2 btn-chk inverse">Get started</a>
            <li>Dashboard</li>
            <li>Profile image</li>
         </ul>
      </div>
   </div>
</div>
<!-- Our Goles and mission  -->
<div class="our-mission bg-light section-gap no__gap">
   <div class="forum__questions__gap">
      <div class="container">
         <div class="blog-alternate mb-5">
            <div class="row">
               <div class="col-sm-12 col-md-12 col-lg-9">
                  <div class="row">
                     <div class="col-sm-12 col-md-12 col-lg-1">
                         <img src="assets/img/3-team.jpg" class="profile-img-responsive" alt="">
                     </div>
                     <div class="col-sm-12 col-md-12 col-lg-8">
                        <div class="for__each__topic">
                           <p>A wonderful serenity has taken possession of my entire soul like this sweet morning of spring which i enjoyed with ...</p>
                        </div>
                     </div>
                     <div class="col-sm-12 col-md-12 col-lg-3">
                        <img src="assets/img/3-team.jpg" class="commenter-img-responsive" alt="">
                        <img src="assets/img/2-team.jpg" class="commenter-img-responsive" alt="">
                        <img src="assets/img/sign-up.jpg" class="commenter-img-responsive" alt="">
                        <img src="assets/img/1-team.jpg" class="commenter-img-responsive" alt="">
                     </div>

                     <div class="util__bottom"></div>
                     <!--  -->

                     <div class="col-sm-12 col-md-12 col-lg-1">
                         <img src="assets/img/3-team.jpg" class="profile-img-responsive" alt="">
                     </div>
                     <div class="col-sm-12 col-md-12 col-lg-8">
                        <div class="for__each__topic">
                           <p>A wonderful serenity has taken possession of my entire soul like this sweet morning of spring which i enjoyed with ...</p>
                        </div>
                     </div>
                     <div class="col-sm-12 col-md-12 col-lg-3">
                        <img src="assets/img/3-team.jpg" class="commenter-img-responsive" alt="">
                        <img src="assets/img/2-team.jpg" class="commenter-img-responsive" alt="">
                        <img src="assets/img/sign-up.jpg" class="commenter-img-responsive" alt="">
                        <img src="assets/img/1-team.jpg" class="commenter-img-responsive" alt="">
                     </div>

                     <div class="util__bottom"></div>
                     <!--  -->

                     <div class="col-sm-12 col-md-12 col-lg-1">
                           <img src="assets/img/3-team.jpg" class="profile-img-responsive" alt="">
                       </div>
                       <div class="col-sm-12 col-md-12 col-lg-8">
                          <div class="for__each__topic">
                             <p>A wonderful serenity has taken possession of my entire soul like this sweet morning of spring which i enjoyed with ...</p>
                          </div>
                       </div>
                       <div class="col-sm-12 col-md-12 col-lg-3">
                          <img src="assets/img/3-team.jpg" class="commenter-img-responsive" alt="">
                          <img src="assets/img/2-team.jpg" class="commenter-img-responsive" alt="">
                          <img src="assets/img/sign-up.jpg" class="commenter-img-responsive" alt="">
                          <img src="assets/img/1-team.jpg" class="commenter-img-responsive" alt="">
                       </div>

                     <div class="util__bottom"></div>
                       <!--  -->

                       <div class="col-sm-12 col-md-12 col-lg-1">
                           <img src="assets/img/3-team.jpg" class="profile-img-responsive" alt="">
                       </div>
                       <div class="col-sm-12 col-md-12 col-lg-8">
                          <div class="for__each__topic">
                             <p>A wonderful serenity has taken possession of my entire soul like this sweet morning of spring which i enjoyed with ...</p>
                          </div>
                       </div>
                       <div class="col-sm-12 col-md-12 col-lg-3">
                          <img src="assets/img/3-team.jpg" class="commenter-img-responsive" alt="">
                          <img src="assets/img/2-team.jpg" class="commenter-img-responsive" alt="">
                          <img src="assets/img/sign-up.jpg" class="commenter-img-responsive" alt="">
                          <img src="assets/img/1-team.jpg" class="commenter-img-responsive" alt="">
                       </div>
                       
                     <div class="util__bottom"></div>
                       <!--  -->

                       <div class="col-sm-12 col-md-12 col-lg-1">
                           <img src="assets/img/3-team.jpg" class="profile-img-responsive" alt="">
                       </div>
                       <div class="col-sm-12 col-md-12 col-lg-8">
                          <div class="for__each__topic">
                             <p>A wonderful serenity has taken possession of my entire soul like this sweet morning of spring which i enjoyed with ...</p>
                          </div>
                       </div>
                       <div class="col-sm-12 col-md-12 col-lg-3">
                          <img src="assets/img/3-team.jpg" class="commenter-img-responsive" alt="">
                          <img src="assets/img/2-team.jpg" class="commenter-img-responsive" alt="">
                          <img src="assets/img/sign-up.jpg" class="commenter-img-responsive" alt="">
                          <img src="assets/img/1-team.jpg" class="commenter-img-responsive" alt="">
                       </div>
                  </div>
               </div>
               <div class="col-sm-12 col-md-12 col-lg-3">
                  <div class="row">
                     <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="list__all_categories">
                           <div class="categories">
                              <div class="row">
                                 <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                       <h5 class="category__name col-sm-12 col-md-12 col-lg-6">Business</h5>
                                       <h5 class="category__post__count col-sm-12 col-md-12 col-lg-6">32 posts</h5>
                                       <h5 class="category__name col-sm-12 col-md-12 col-lg-6">Business</h5>
                                       <h5 class="category__post__count col-sm-12 col-md-12 col-lg-6">32 posts</h5>
                                       <h5 class="category__name col-sm-12 col-md-12 col-lg-6">Business</h5>
                                       <h5 class="category__post__count col-sm-12 col-md-12 col-lg-6">32 posts</h5>
                                       <h5 class="category__name col-sm-12 col-md-12 col-lg-6">Business</h5>
                                       <h5 class="category__post__count col-sm-12 col-md-12 col-lg-6">32 posts</h5>
                                       <h5 class="category__name col-sm-12 col-md-12 col-lg-6">Business</h5>
                                       <h5 class="category__post__count col-sm-12 col-md-12 col-lg-6">32 posts</h5>
                                       <h5 class="category__name col-sm-12 col-md-12 col-lg-6">Business</h5>
                                       <h5 class="category__post__count col-sm-12 col-md-12 col-lg-6">32 posts</h5>
                                       <h5 class="category__name col-sm-12 col-md-12 col-lg-6">Business</h5>
                                       <h5 class="category__post__count col-sm-12 col-md-12 col-lg-6">32 posts</h5>
                                       <h5 class="category__name col-sm-12 col-md-12 col-lg-6">Business</h5>
                                       <h5 class="category__post__count col-sm-12 col-md-12 col-lg-6">32 posts</h5>
                                       <h5 class="category__name col-sm-12 col-md-12 col-lg-6">Business</h5>
                                       <h5 class="category__post__count col-sm-12 col-md-12 col-lg-6">32 posts</h5>
                                       <h5 class="category__name col-sm-12 col-md-12 col-lg-6">Business</h5>
                                       <h5 class="category__post__count col-sm-12 col-md-12 col-lg-6">32 posts</h5>
                                       <h5 class="category__name col-sm-12 col-md-12 col-lg-6">Business</h5>
                                       <h5 class="category__post__count col-sm-12 col-md-12 col-lg-6">32 posts</h5>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


