<div class="page-main-container">
   <!-- Service grid -->
   <div class="service section-gap">
      <div class="container">
         <div class="section-title-wrapper">
           <div class="row">
               <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2>For you, By you</h2>
                  <p class="mb-0">A wonderful serenity has taken possession of my entire soul, like this sweet morning of springs which was created for the bliss of souls like mine, i am so excited dear friend, so absorbed in the exquisite sense of existence </p>
               </div>
           </div>
           <div class="row">
               <div class="col-sm-4">
                  <div class="util-margin-top align__content">
                     <h5 class="heading__five">Forum </h5>
                     <img src="assets/img/users.png" class="section-img-responsive" alt="">
                     <div class="short_content">
                           A wonderful serenity as taken possession of my entire sould, like the sweet
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="util-margin-top align__content">
                     <h5 class="heading__five">Chatrooms</h5>
                     <img src="assets/img/message-square.png" class="section-img-responsive" alt="">
                     <div class="short_content">
                           A wonderful serenity as taken possession of my entire soul
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="util-margin-top align__content">
                     <h5 class="heading__five">Online Stores</h5>
                     <img src="assets/img/cart.png" class="section-img-responsive" alt="">
                     <div class="short_content">
                           A wonderful serenity as taken possession of my entire sould, like the sweet
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- <div class="row" angly-serviceGrid [serviceGridContent]="services"></div> -->
         <div class="inline-btn-primary">
         <a style class="btn btn-lg btn-outline-light inline-btn-primary-link" target="_blank" href="javascript:void(0);"> Get started </a>
         </div>
      </div>
   </div>
   <!-- Video section -->
   <div class="chk-video-section section-gap bg-chk-section-gap bg-light">
      <div class="container">
        <div class="row">
            <div class="col-sm-6">
               <div class="util-margin-top">
                  <h2 class="heading">Are you curious ?</h2>
                  <div class="short_content">
                        A wonderful serenity as taken possession of my entire sould, like the sweet morning of spring which was created for the bliss of souls like mine, i am so happy dear friend, so excited in the exquisite sense of existence.
                  </div>
               </div>
            </div>
            <div class="col-sm-6">
               <img src="assets/img/question.svg" alt="" class="question-img-responsive">
            </div>
        </div>
        <div class="inline-btn-primary">
            <a style class="btn btn-lg btn-outline-light inline-btn-primary-link-secondary" target="_blank" href="javascript:void(0);"> Get started </a>
         </div>
      </div>
   </div>
   <div class="chk-video-section section-gap bg-chk-shopping-gap bg-light">
      <div class="container">
        <div class="row">
            <div class="col-sm-6">
               <img src="assets/img/shopping.svg" alt="" class="question-img-responsive">
            </div>
            <div class="col-sm-6">
               <div class="util-margin-top">
                  <h2 class="heading">Shopping ?</h2>
                  <div class="short_content">
                        A wonderful serenity as taken possession of my entire sould, like the sweet morning of spring which was created for the bliss of souls like mine, i am so happy dear friend, so excited in the exquisite sense of existence.
                  </div>
               </div>
            </div>
        </div>
        <div class="inline-btn-primary util-margin-top-med">
            <a style class="btn btn-lg btn-outline-light inline-btn-primary-link" target="_blank" href="javascript:void(0);"> Get started </a>
         </div>
      </div>
   </div>
   <!-- Projects grid-->
   <div class="Gallery-grid section-gap bg-chk-questions-gap">
      <div class="container">
         <div class="section-title-wrapper">
            <div class="row">
               <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2> Question Everywhere, Answers exist in this planet </h2>
                  <p class="mb-0">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
