<div class="page-main-container">
   <!-- Service grid -->
   <div class="service section-gap">
      <div class="container">
         <div class="section-title-wrapper">
           <div class="row">
               <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2>For you, By you</h2>
                  <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis facere iure architecto aliquam eius voluptatem nesciunt voluptate impedit sequi vero numquam temporibus </p>
               </div>
           </div>
         </div>
         <div class="row" angly-serviceGrid [serviceGridContent]="services"></div>
      </div>
   </div>
   <!-- Video section -->
   <div class="chk-video-section section-gap bg-light">
      <div class="container">
        <div class="row" angly-chkVideo [videoContent]="videoContent">
        </div>
      </div>
   </div>
   <!-- Projects grid-->
   <div class="Gallery-grid section-gap">
      <div class="container">
         <div class="section-title-wrapper">
            <div class="row">
               <div class="col-sm-12 col-md-10 mx-auto text-center">
                  <h2> Our Awesome Projects </h2>
                  <p class="mb-0">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  </p>
               </div>
            </div>
         </div>
         <!-- <div class="row" angly-gallaryGrid gridClass="col-sm-12 col-md-4 mb-4" [gallaryGridContent]="projectGallary"></div> -->
      </div>
   </div>
   
   <!-- Send message section -->
   <div class="send-msg section-gap style-form">
         <!-- <div class="container">
            <div class="row">
               <div class="col-sm-12 col-md-10 col-lg-7 mx-auto">
                  <div angly-sendMessage></div>
               </div>
            </div>
         </div> -->
   </div>
</div>
